<ng-container *ngIf="store.state$ | async as state">
  <div class="menu-parent">
    <app-add-button (click)="addNoteClick.emit()"></app-add-button>
    <div class="options-wrapper">
      <app-icon (click)="store.enableNotesMode()"
                [isSelected]="!state.isDeleteMode"
                icon="notes"></app-icon>
      <app-icon (click)="store.enableDeleteMode()"
                [isSelected]="state.isDeleteMode"
                icon="toilet"></app-icon>
    </div>
    <app-buy-me-a-coffee></app-buy-me-a-coffee>
    <app-theme></app-theme>
  </div>

</ng-container>
