@import "colours";

.menu-parent {
  height: 100%;
  width: 80px;
  //box-shadow: 5px 0 10px -5px var(--shadow-color);
  border: 1px solid var(--shadow-color);
  background: var(--background-color);
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
}
