<div class="icon-wrapper" [class.isSelected]="isSelected">
  <ng-container [ngSwitch]="icon">
    <app-icon-delete *ngSwitchCase="'delete'"></app-icon-delete>
    <app-icon-block *ngSwitchCase="'block'"></app-icon-block>
    <app-icon-unblock *ngSwitchCase="'unblock'"></app-icon-unblock>
    <app-icon-maximize *ngSwitchCase="'maximize'"></app-icon-maximize>
    <app-icon-minimize *ngSwitchCase="'minimize'"></app-icon-minimize>
    <app-icon-poop *ngSwitchCase="'poop'"></app-icon-poop>
    <app-icon-plus *ngSwitchCase="'plus'"></app-icon-plus>
  </ng-container>
</div>
