<div [class.isSelected]="isSelected" class="icon-wrapper">
  <ng-container [ngSwitch]="icon">
    <app-icon-delete *ngSwitchCase="'delete'"></app-icon-delete>
    <app-icon-block *ngSwitchCase="'block'"></app-icon-block>
    <app-icon-unblock *ngSwitchCase="'unblock'"></app-icon-unblock>
    <app-icon-maximize *ngSwitchCase="'maximize'"></app-icon-maximize>
    <app-icon-minimize *ngSwitchCase="'minimize'"></app-icon-minimize>
    <app-icon-plus *ngSwitchCase="'plus'"></app-icon-plus>
    <app-icon-notes *ngSwitchCase="'notes'"></app-icon-notes>
    <app-icon-recycle *ngSwitchCase="'recycle'"></app-icon-recycle>
    <app-icon-toilet *ngSwitchCase="'toilet'" #test></app-icon-toilet>
  </ng-container>
</div>
