@import "colours";

$buyCoffeeColor: #FFDD00;

.buy-me-a-coffee-parent {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  background: $buyCoffeeColor;

  span {
    position: absolute;
    top: 0;
    left: 0;
    background: $buyCoffeeColor;
    border-radius: 50%;
    display: inline-block;
    width: 100%;
    height: 100%;
    animation: animate 2.5s linear infinite;
    animation-delay: calc(-0.5s * var(--i));
  }

  .logo-wrapper {
    background: white;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    border-radius: 50%;
  }
}

@keyframes animate {
  0% {
    transform: scale(1);
    opacity: 0.5;
  }
  90% {
    transform: scale(3);
  }
  100% {
    transform: scale(4);
    opacity: 0;
  }
}

svg {
  width: 25px;
  height: 25px;
}
