@import "colours";

:host {
  flex: 1;
  box-sizing: border-box;
  padding: 25px;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  background: var(--background-color);
  border-top-left-radius: 5px;
  box-shadow: 0 1px 6px 0 var(--shadow-color);
  
  .heading {
    width: 100%;
    font-size: 50px;
    outline: none;
    border: none;
  }

  .body {
    width: 100%;
    outline: none;
    height: calc(100vh - 100px);
    resize: none;
    border: none;
    font-size: 30px;
    padding-top: 10px;
  }
}


