.parent {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow-y: scroll;
  width: 350px;
  padding: 20px;
}

::-webkit-scrollbar {
  width: 0px;  /* Remove scrollbar space */
  background: transparent;  /* Optional: just make scrollbar invisible */
}
