@import "variables";
@import "colours";

.card {
  width: 100%;
  height: 120px;
  border-radius: 5px;
  box-shadow: 0 1px 6px 0 var(--shadow-color);
  background: var(--background-color);
  margin-bottom: 20px;
}
