<ng-container *ngIf="store.state$ | async as state">
  <div class="parent">
    <app-menu
      (addNoteClick)="store.onAddNote()"
      *ngIf="!state.isFullScreen"
      @inOut></app-menu>
    <div *ngIf="!state.isFullScreen"
         @inOut
         class="listing-wrapper">
      <app-notes-list
        (noteSelected)="store.onNoteSelected($event)"
        *ngIf="!state.isDeleteMode"
      ></app-notes-list>
      <app-deleted-notes-list
        (noteSelected)="store.onNoteSelected($event)"
        *ngIf="state.isDeleteMode"
      ></app-deleted-notes-list>
    </div>
    <app-composer
      [class.disable]="state.isDeleteMode && state.notes.length === 0"
      [class.isFullScreen]="state.isFullScreen"
    >
    </app-composer>
    <app-icon
      (click)="store.toggleFullScreen()"
      [icon]="state.isFullScreen ? 'minimize' : 'maximize'" class="screen-toggle"></app-icon>
  </div>
</ng-container>
