@import "fonts";
@import "colours";

.parent {
  display: flex;
  width: 100vw;
  height: 100vh;

  .listing-wrapper {
    width: 350px;
    height: 100%;
    padding-top: 20px;
  }
}

.screen-toggle {
  position: absolute;
  right: 10px;
  bottom: 10px;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  padding-top: 5px;
  box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.302), 0 1px 3px 1px var(--shadow-color);
  background: var(--background-color);
  display: flex;
  align-items: center;
  justify-content: center;
}

app-menu {
  width: 80px;
  overflow: hidden;
}
