<ng-container *ngIf="store.state$ | async as state">
  <div class="parent">
    <app-menu
      @inOut
      *ngIf="!state.isFullScreen"
      (addNoteClick)="store.onAddNote()"></app-menu>
    <div class="listing-wrapper"
         *ngIf="!state.isFullScreen"
         @inOut>
      <app-notes-list
        *ngIf="!state.isDeleteMode"
        (noteSelected)="store.onNoteSelected($event)"
      ></app-notes-list>
      <app-deleted-notes-list
        *ngIf="state.isDeleteMode"
        (noteSelected)="store.onNoteSelected($event)"
      ></app-deleted-notes-list>
    </div>
    <app-composer
      [class.isFullScreen]="state.isFullScreen"
      [class.disable]="state.isDeleteMode && state.notes.length === 0"
    >
    </app-composer>
    <app-icon
      (click)="store.toggleFullScreen()"
      [icon]="state.isFullScreen ? 'minimize' : 'maximize'" class="screen-toggle"></app-icon>
  </div>
</ng-container>
