<ng-container *ngIf="store.state$ | async as state">
  <div class="parent">
    <app-note *ngFor="let note of state.notes; index as i; trackBy: trackByFn"
              [note]="note"
              [deleteMode]="true"
              [class.selected]="note.id === state.selectedNote.id"
              (recycle)="store.restoreNote(note.id)"
              (click)="noteSelected.emit(i)"
    ></app-note>
    <div class="no-notes" *ngIf="state.notes.length === 0">
      <app-icon-no-poop></app-icon-no-poop>
      <div class="message">nothing to show here</div>
    </div>
  </div>
</ng-container>
