@import "colours";
@import "fonts";

:host {
  flex: 1;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  background: var(--background-color);
  border: 1px solid var(--border-color);
  position: relative;
  transition: 0.3s ease-out all;

  .toilet-wrapper {
    position: absolute;
    height: 700px;
    width: 700px;
    bottom: -30px;
    right: -100px;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0.05;
    transform: rotate(-30deg);

    svg {
      width: 600px;
      height: 600px;
      pointer-events: none;
    }
  }

  &.isFullScreen {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;

    .h-btn {
      transform: scale(0);
    }
  }

  &.disable {
    pointer-events: none;
    user-select: none;
    filter: blur(2px);
  }

  .parent {
    padding: 40px 10px 20px 30px;
    position: relative;
    overflow: hidden;

    &.locked {
      pointer-events: none;
      user-select: none;
    }

  }

  .unable-to-delete-message {
    height: 50px;
    width: 100%;
    background: var(--surface-color);
    display: flex;
    align-items: center;
    justify-content: center;
    border-top-left-radius: 50px;
    overflow: hidden;
    font-size: 20px;
    text-align: center;
    @include font-semi-bold
  }

  .heading {
    width: 100%;
    font-size: 50px;
    outline: none;
    border: none;
    @include font-semi-bold;
  }

  .body {
    width: 100%;
    outline: none;
    height: calc(100vh - 110px);
    resize: none;
    border: none;
    font-size: 20px;
    margin-top: 10px;
    line-height: 1.8;
    padding-bottom: 20px;
  }

  .lock {
    position: absolute;
    right: 10px;
    top: 10px;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    padding-top: 5px;
    box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.302), 0 1px 3px 1px var(--shadow-color);
    background: var(--background-color);
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .lock-message {
    position: absolute;
    top: 20px;
    right: 70px;
    box-shadow: 0 1px 2px 0 var(--shadow-color), 0 1px 3px 1px rgba(60, 64, 67, 0.149);
    background: var(--background-color);
    padding: 0 10px;
    color: var(--default-color);
    border-radius: 20px 50px 50px 20px;
    letter-spacing: 0.5px;
    @include font-semi-bold;
    transition: 0.3s ease-out all;
    transform-origin: right center;
    opacity: 0;
    transform: translateX(20px);
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;

    &.visible {
      opacity: 1;
      transform: translateX(0);
    }
  }

  .h-btn {
    @include font-bold();
    position: absolute;
    height: 40px;
    width: 40px;
    top: 50px;
    left: -18px;
    border-radius: 10px;
    box-shadow: 0 1px 2px 0 var(--shadow-color), 0 1px 3px 1px var(--shadow-color);
    background: var(--background-color);
    display: flex;
    font-size: 20px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.3s ease-out all;
    user-select: none;

    &:hover {
      transform: scale(1.05);
    }
  }

  .h-btn-msg {
    position: absolute;
    top: 55px;
    left: 30px;
    box-shadow: 0 1px 2px 0 var(--shadow-color), 0 1px 3px 1px rgba(60, 64, 67, 0.149);
    padding: 0 10px;
    color: var(--default-color);
    border-radius: 50px 20px 20px 50px;
    letter-spacing: 0.5px;
    @include font-semi-bold;
    transition: 0.3s ease-out all;
    transform-origin: right center;
    background: var(--background-color);
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transform: translateX(-20px);

    &.visible {
      opacity: 1;
      transform: translateX(0);
    }
  }

}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  opacity: 0.4; /* Firefox */
}
