<ng-container *ngIf="store.state$ | async as state">
  <div class="toilet-wrapper" *ngIf="state.isDeleteMode">

    <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
         viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve">
<g>
	<g>
		<path d="M466.962,0h-150c-24.813,0-45,20.187-45,45c0,19.555,12.541,36.228,30,42.42v126.16c-4.695-1.665-9.741-2.58-15-2.58h-242
			c-24.881,0-44.923,20.187-44.923,45c0,19.752,12.633,36.561,30.417,42.601c5.382,69.94,53.974,127.585,119.506,146.179V497
			c0,8.284,6.716,15,15,15h182c8.284,0,15-6.716,15-15v-43.566c0-21.905,13.962-41.276,34.743-48.204
			c33.051-11.017,55.257-41.826,55.257-76.665V298.42c17.459-6.192,30-22.865,30-42.42V87.42c17.458-6.192,30-22.865,30-42.42
			C511.962,20.187,491.775,0,466.962,0z M29.838,256c0-8.271,6.784-15,15.123-15h242c8.271,0,15,6.729,15,15s-6.729,15-15,15h-242
			C36.622,271,29.838,264.271,29.838,256z M387.218,376.77c-33.051,11.017-55.257,41.826-55.257,76.664V482h-152v-49
			c0-7.134-5.024-13.281-12.016-14.7c-57.621-11.697-100.693-60.012-107.147-117.5H421.96v27.766h0.001
			C421.962,350.471,407.999,369.843,387.218,376.77z M451.962,256c0,8.271-6.729,15-15,15h-90c-8.271,0-15-6.729-15-15V90h120V256z
			 M466.962,60h-150c-8.271,0-15-6.729-15-15s6.729-15,15-15h150c8.271,0,15,6.729,15,15S475.233,60,466.962,60z"/>
	</g>
</g>

</svg>


  </div>
  <div *ngIf="state.selectedNote">
    <div *ngIf="state.isDeleteMode"
         @heightAnim
         class="unable-to-delete-message"
    >to edit this note, you'll need to restore it
    </div>
    <div [class.locked]="state.selectedNote.locked || state.isDeleteMode"
         class="parent">
      <label style="height: 40px">
        <input (keyup)="store.onTitleTextChange($event)"
               *ngIf="state.selectedNote.isTitleVisible"
               [ngModel]="state.selectedNote.title"
               class="heading"
               placeholder="dump your title here :P"
        />
      </label>
      <label>
    <textarea (keyup)="store.onBodyTextChange($event)"
              [ngModel]="state.selectedNote.body"
              class="body"
              placeholder="write something awesome"></textarea>
      </label>

    </div>

    <div *ngIf="!state.isDeleteMode"
         [class.visible]="state.selectedNote.locked"
         class="lock-message">note is locked from editing
    </div>

    <app-icon (click)="store.toggleLock()"
              *ngIf="!state.isDeleteMode"
              @scaleAnim
              [icon]="state.selectedNote.locked ? 'block': 'unblock'"
              class="lock">
    </app-icon>

    <div (click)="store.toggleTitleVisibility()"
         (mouseenter)="isHeadlineButtonVisible = true"
         (mouseout)="isHeadlineButtonVisible = false"
         class="h-btn">{{state.selectedNote.isTitleVisible ? "h-" : "h+"}}</div>

    <div [class.visible]="isHeadlineButtonVisible"
         class="h-btn-msg">{{state.selectedNote.isTitleVisible ? "hide title" : "show title"}}</div>
  </div>
</ng-container>
