<ng-container *ngIf="store.state$ | async as state">
  <div *ngIf="state.selectedNote">
    <div class="unable-to-delete-message"
         *ngIf="state.isDeleteMode"
         @heightAnim
    >to edit this note, you'll need to restore it
    </div>
    <div class="parent"
         [class.locked]="state.selectedNote.locked || state.isDeleteMode">
      <label style="height: 40px">
        <input class="heading"
               placeholder="need a title?? add it here :)"
               (keyup)="store.onTitleTextChange($event)"
               *ngIf="state.selectedNote.isTitleVisible"
               [ngModel]="state.selectedNote.title"
        />
      </label>
      <label>
    <textarea class="body"
              placeholder="write something awesome"
              [ngModel]="state.selectedNote.body"
              (keyup)="store.onBodyTextChange($event)"></textarea>
      </label>

    </div>

    <div class="lock-message"
         *ngIf="!state.isDeleteMode"
         [class.visible]="state.selectedNote.locked">note is locked from editing
    </div>

    <app-icon class="lock"
              @scaleAnim
              *ngIf="!state.isDeleteMode"
              [icon]="state.selectedNote.locked ? 'block': 'unblock'"
              (click)="store.toggleLock()">
    </app-icon>

    <div class="h-btn"
         (mouseenter)="isHeadlineButtonVisible = true"
         (mouseout)="isHeadlineButtonVisible = false"
         (click)="store.toggleTitleVisibility()">{{state.selectedNote.isTitleVisible ? "h-" : "h+"}}</div>

    <div class="h-btn-msg"
         [class.visible]="isHeadlineButtonVisible">{{state.selectedNote.isTitleVisible ? "hide title" : "show title"}}</div>
  </div>
</ng-container>
