// LIGHT COLORS
$background-color: #ffffff;
$surface-color: #F6F7Fb;
$default-color: #474848;
$shadow-color: #e2e2e2;
$border-color: #e8e8e8;
$icon-color: #000000;

// DARK COLORS
$background-color-dark: #191926;
$surface-color-dark: #22222F;
$default-color-dark: #FFFFFF;
$shadow-color-dark: #272735;
$border-color-dark: #272735;
$icon-color-dark: #ffffff;

:root {
  --primary-color: #cfcf19;
}

$colors: (
  --default-color : ($default-color, $default-color-dark),
  --background-color : ($background-color, $background-color-dark),
  --surface-color : ($surface-color, $surface-color-dark),
  --shadow-color : ($shadow-color, $shadow-color-dark),
  --border-color : ($border-color, $border-color-dark),
  --icon-color : ($icon-color, $icon-color-dark)
);
