@import 'variables';
@import 'fonts';
@import "colours";
@import "themes";

html, body {
  height: 100%;
}

body {
  font-weight: $font-regular;
  margin: 0;
  color: var(--default-color);
  background: var(--surface-color);
  overflow: hidden;
}

* {
  font-family: 'Grandstander', cursive;
  box-sizing: border-box;
  background: transparent;
  color: var(--default-color);
}

::-webkit-scrollbar {
  width: 0; /* Remove scrollbar space */
  background: transparent; /* Optional: just make scrollbar invisible */
}
