@import 'variables';
@import 'fonts';
@import "colours";
@import "themes";


input {
  outline: none;
  box-sizing: border-box;
  border: 1px solid var(--border-color);
  width: 100%;
  color: var(--default-color);

  &:focus {
    border: 1px solid var(--primary-color);
  }

  &.disable {
    border: 1px solid var(--border-color);
    background: var(--disable-bg-color);
  }
}

textarea {
  outline: none;
  height: 100px;
  border-radius: $border-radius;
  font-size: 14px;
  box-sizing: border-box;
  border: 1px solid var(--border-color);
  width: 100%;
  resize: none;
  color: var(--default-color);

  &.disable {
    border: 1px solid var(--border-color);
    background: var(--disable-bg-color);
  }
}

html, body {
  height: 100%;
}

body {
  font-weight: $font-regular;
  margin: 0;
  font-size: 14px;
  line-height: 1.5;
  color: var(--default-color);
  background: var(--secondary-background-color);
}

* {
  //font-family: "Architects Daughter", cursive,serif;
  //font-family: 'Special Elite', cursive;
  font-family: "Raleway", serif;
  box-sizing: border-box;
  background: transparent;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
